<article>
  <header>
    <h1>{{model.title}}</h1>
    <h2> by {{model.author}} <small class="muted">{{model.publishedAt}}</small></h2>
    {{#link-to 'post.edit' this}}
      edit
    {{/link-to}}
  </header>

  <div id="postContent">
    {{model.content}}
  </div>
</article>
